@import './src/module/stooges-variables.scss';
@import './src/scss/project-variables.scss';
@import './src/module/stooges-mixin.scss';
@import './src/scss/project-mixin.scss';
@import './src/module/stooges-basscss.scss';
@import './src/scss/project-basscss.scss';
@import'./src/scss/fontFamily.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

%title_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        h4{
            font-weight: 500;
            color: white;
        }
        a{
            color: white;
            font-size: 12px;
        }
}
%line{
    height: 1px;
    width: 100%;
    background-color: #7B7B87;
}
.search_input{
    .container{
        h5{
            color: #7B7B87;
            padding-left: 10px;
            margin: 0;
            font-weight: 700;
            line-height: 15px;
        }
        .wrap_input{
            position: relative;
            input{
                width: 100%;
                padding: 12px 10px;
                border: none;
                border-bottom: 0.2px solid #7B7B87;
                border-color:#7B7B87;
                color: #7B7B87;
                background-color: #2C2C36;
            }
            i{
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
                color: #7B7B87;
            }
        }
    }
}
.recent_movie{
    padding: 20px 0;
    .container{
        .title_wrap{
            @extend %title_wrap;
        }
        .owl-carousel{
            .item{
                .card{
                    img{
                        height: 25vh;
                        width: 100%;
                        border-radius: 8px;
                    }
                    .title{
                        color:white;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
}
.popular_movie{
    padding: 20px 0 15px;
    .container{
        .title_wrap{
             @extend %title_wrap;
        }
        .row{
            .img_wrap{
                img{
                    width: 100%;
                    border-radius: 8px;
                }
            }
            .content_wrap{
                color: white;
                .movie_title{
                    font-size: 22px;
                    font-weight: 500;
                }
                
            }
        }
    }
}
.background_image{
    position: relative;
    width: 100%;
    img{
        width: 100%;
    }
    .cover{
        background-image: linear-gradient(to top, #2C2C36 10%, rgba(0,0,0,0) 100%);
        height:100%;
        width:100%;
        position: absolute;
        bottom: 0;
    }
    .top_nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        a{
            i{
                color: white;
                font-size: 20px;
            }
        }
    }
    .content{
        position: absolute;
        bottom: 20px;
        color: white;
        .title{
           font-size: 25px;
        }
        ul{
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            color: #7B7B87;
            li{
                padding: 2px;
                margin: 3px;
                border: 1px solid;
                border-radius: 3px;
            }
        }
    }
    .line{
        @extend %line;
    }
}
.review_bar{
    .container{
        .row{
            .card{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                .marks{
                    color: rgb(111, 202, 111);
                    font-size: 20px;
                }
                p{
                    margin: 0;
                    color: white;
                    &.reviews{
                        color:#7B7B87;
                        font-size:12px;
                    }
                }
                i{
                    font-size: 20px;
                    padding: 5px 0;
                    color: rgb(204, 86, 106)
                }
                .mark_10{
                    color: white;
                    span{
                        color: #7B7B87;
                    }
                }
            }
        }
        .line{
            @extend %line;
        }
    }
}
.movie_detail{
    padding: 20px 0;
    .container{
        .row{
            .img_wrap{
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .content_wrap{
                p{
                    color: #7B7B87;
                    margin-bottom: 5px;
                    span{
                        color: white;
                    }
                }
            }
        }
        .line{
            @extend %line;
        }
    }
}
.story_line{
    .container{
        h4{
            color: white;
        }
        .content{
            color:#7B7B87;
        }
        .line{
            @extend %line;
        }
    }
}
.cast_crew{
    padding-bottom:60px;
    .container{
        .title_wrap{
            @extend %title_wrap;
        }
        .owl-carousel{
            .item{
                .card{
                    img{
                        height: 18vh;
                        width: 100%;
                        border-radius: 8px;
                    }
                    .title{
                        color:white;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.buy_ticket{
    button{
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        z-index: 10;
        border: none;
        color: white;
        font-size: 18px;
        background-image: linear-gradient(to right, #FF9379 , #A5407A); 
    }
}